<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wrath-content-box">
                    <h2 class="section-heading">Sobre</h2>
                    <h3 class="section-subheading-about text-muted">25 anos, Bacharel em Sistemas de Informação pela USP com atuação de mais de 5 anos em desenvolvimento e tecnologia em empresas como Hospital Albert Einstein, Intel, CI&T e outras do ramo<br>Atualmente está cursando Medicina na Escola Paulista de Medicina e é Engenheiro de Software de aplicativos e sistemas web.</h3>
                </div>
            </div>
        </div>
    </section>
