<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wrath-content-box">
                    <h2 class="section-heading">Sobre</h2>
                    <h3 class="section-subheading-about text-muted">Minha trajetória até agora...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/pentium3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1999-2008</h4>
                                    <h4 class="subheading">Meu Primeiro Computador</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Tudo começou aqui, ganhei "meu" primeiro computador em 1999. Um pentium 3 com só 10 gb de HD e 64 mb de memória RAM. Sim! Isso era um avião na época! Convivi com ele até 2008! Apesar das limitações foi aonde "aprendi" (diga-se mexer) com o Tibia (OT Servers) a programar em LUA, modificar XMLs, Bancos de Dados em Sqlite, manter um servidor online e modificar páginas em PHP.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/etesp.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2012</h4>
                                    <h4 class="subheading">O ensino técnico - A base</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Fonte de boa parte dos meus aprendizados e motivação. Dentre os aprendizados estão: Android, Java, ASP.NET, VB.NET, metodologias de software e Banco de Dados. Durante o curso desenvolvemos uma solução de software. A solução de sistema de gestão educacional, desenvolvida pelo meu grupo, conquistou uma vaga entre os finalistas do prêmio ESEG 2012.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/array.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">O contato com a prática - Array Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Antes de terminar o ensino médio e ir de cara prestar um curso voltado para computação, decidi durante 4 meses ter uma pequena experiência com a área. Dentre as experiências: implementar, desenvolver a UX/UI de um aplicativo Android para os técnicos da empresa; desenvolver sistemas web com php; visita ao cliente para manutenção de sistemas; suporte remoto; gestão de servidores windows.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/usp.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">O Vestibular!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Minha primeira conquista! Passar na universidade pública! Ambiente que tem me proporciado diversas oportunidades e aprendizados. Dentre outras conquistas na universidade está o 1º Lugar no BXCOMP - Uma maratona de programação para os calouros de Sistemas de Informação.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/siusp.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Maio-2013 ~ Março-2014</h4>
                                    <h4 class="subheading">A Empresa Júnior - SI USP Jr</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Desde o técnico escutava sobre as empresas júnior, mas pouco sabia sobre elas. Por curiosidade e oportunidade fiz o processo seletivo e estava dentro! Nessa experiência vivenciei um ambiente com descobertas, troca de conhecimento e aprendizados. Atuei no setor de desenvolvimento contribuindo para a contrução do site da empresa e um treinamento da linguagem Javascript aos alunos da USP.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/mobii.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Setembro-2013 ~ Setembro-2014</h4>
                                    <h4 class="subheading">Start Up - Mobii</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Experiência onde tive como foco a implementação do aplicativo Sem Parar Taxi e Taxista. Participei do desenvolvimento do aplicativo em suas duas versões e plataformas Taxi e Taxista para Android e iOS. Além disso também participei do desenvolvimendo do Back-End (Java utilizando Google App Engine) e Front-End para auxiliar os vendedores nos cadastros dos taxistas (Angular JS). Dentre outros aprendizados estão: utilização de Design Patterns e criação de Crawlers utilizando a linguagem Python.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/intel.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Outubro-2014 ~ Atualmente</h4>
                                    <h4 class="subheading">Meu primeiro estágio - Intel Brasil</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Estou podendo desenvolver desde a habilidade de programação e a de palestrar profissionalmente em grandes eventos de tecnologia entre eles o TDC SP 2015. Dentre os aprendizados estão: tecnologia Intel® RealSense™ (NUIs), desenvolvimento Android (abrangendo o Native Development Kit), Angular JS para desenvolver um dashboard para análise de dados com a Facebook API e principalmente entender como uma empresa de grande porte e impacto como a Intel encaixa-se no ecossistema de tecnologia atual e como está ligada ao ambiente de startups em que estava anteriormente.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>O futuro de
                                    <br>João
                                    <br>Pedro</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>