<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wrath-content-box">
                    <h3 class="section-subheading-about text-muted">Paulistano de 20 anos apaixonado por tecnologia, ama música, adora desafios e  sonha um dia viajar o mundo.<br>Atualmente está cursando Sistemas de Informação na USP. É desenvolvedor de aplicativos (Android/IOS) e sistemas Web.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pode contar comigo para...</h2>
                    <h3 class="section-subheading-about text-muted">Desenvolver sistemas utilizando metodologias ágeis visando soluções eficazes e eficientes com uma ótima experiência de usuário.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-android fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aplicativos Android</h4>
                    <!--<p class="text-muted"></p>-->
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aplicativos iOS</h4>
                    <!--<p class="text-muted">-</p>-->
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sistemas Web</h4>
                    <!--<p class="text-muted">-</p>-->
                </div>
            </div>
        </div>
    </section>